<div class="container">
  <div class="col-sm-6">
    <img src="images/people.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Hi!</h1>
    <p> Please check out the latest news with your favorite keyword.</p>
    <p> If you want to see a list of news<a href="/news">the news page</a> and explore!</p>
    <p> Please feel free to <a href="/contact">contact us</a> if you need.</p>
  </div>
</div>